<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help Desk | FG</title>
    <link rel="icon" type="image/x-icon" href="./icons/repair.svg">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid d-flex align-items-center">
 <div class="container mb-3 mt-3">
     <form action="" method="post"  style="background: rgba( 255, 255, 255, 0.1 );
                            backdrop-filter: blur( 1px );
                            -webkit-backdrop-filter: blur( 1px );
                            border-radius: 5px;
                            border: 1px solid rgba( 255, 255, 255, 0.18 );">
             <div class="row col-12 mx-auto row-cols-1 mt-2">
                 <div class="col">
                     <h4 style="color: white;">Сброс пароля</h4>
                 </div>
             </div>
         <div class="row col-12 mx-auto row-cols-1">
             <div class="col mt-2">
                 <label for="email" class="form-label" style="color: white;">Электронная почта</label>
                 <input autofocus class="form-control form-control-sm" type="email" id="email" name="email" required placeholder="i.ivanov@email.com" style="background: rgba( 255, 255, 255, 0.5 );">
             </div>
         </div>
         <div class="row col-12 mx-auto row-cols-1">
             <div class="col mt-3">
                 <button class=" btn btn-sm  btn-warning col-12" type="submit">Отправить ссылку</button>
             </div>
         </div>
         <div class="row col-12 mx-auto row-cols-1">
             <div class="col mt-3">
                 <a class="nav-link mb-3" href="login.html" style="color: white;">Вход</a>
             </div>
         </div>
     </form>
 </div>
</div>
<script defer src="./bootstrap/js/bootstrap.bundle.min.js"></script>
<script defer src="./js/jquery.min.js"></script>
</body>
</html>
