<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help Desk | FG</title>
    <link rel="icon" type="image/x-icon" href="../icons/repair.svg">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/application_styles.css">
</head>
<body>
<main>
    <div class="container-fluid d-flex align-items-center pt-3 pt-lg-0 pb-5 pb-lg-0">
        <div class="container pb-4 pb-lg-0">
            <form style="background: rgba( 255, 255, 255, 0.1 );
                            backdrop-filter: blur( 1px );
                            -webkit-backdrop-filter: blur( 1px );
                            border-radius: 5px;
                            border: 1px solid rgba( 255, 255, 255, 0.18 );"
                  class="pt-2 pb-3">
                <div class="d-flex justify-content-center">
                    <div class="col-10">
                        <h4 style="color: white;">Новая заявка</h4>
                    </div>
                </div>
                <div class="mb-3 d-lg-flex justify-content-around">
                    <div class="col-11 col-sm-10 col-md-10 col-lg-4 mx-auto">
                        <label for="trk_id" class="form-label" style="color: white;">Торговый комплекс</label>
                        <select id="trk_id" name="trk_id" class="form-select" style="background: rgba( 255, 255, 255, 0.5 );">
                            <option value="1">Академ Парк</option>
                            <option value="2">Гудзон</option>
                            <option value="3">Европолис (м.Лесная)</option>
                            <option value="4">Родео Драйв</option>
                            <option value="5">Европолис (м.Ростокино)</option>
                        </select>
                    </div>
                    <div class="col-11 col-sm-10 col-md-10 col-lg-4 mx-auto mt-2">
                        <label for="system_id" class="form-label" style="color: white;">Подразделение</label>
                        <select autofocus id="system_id" name="system_id" class="form-select" style="background: rgba( 255, 255, 255, 0.5 );">
                            <option value="1">Служба эксплуатации</option>
                            <option value="2">Администрация</option>
                            <option value="3">ХВО</option>
                            <option value="4">АСУ</option>
                        </select>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="col-11 col-xs-10 col-sm-10 col-md-10 mx-auto">
                        <label for="comment" class="form-label" style="color: white;">Проблема/Задача</label>
                        <textarea class="form-control" id="comment" name="comment" rows="2" style="background: rgba( 255, 255, 255, 0.5 );"></textarea>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="col-11 col-xs-10 col-sm-10 col-md-10 mx-auto">
                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>
                </div>
                <div class="mb-4">
                    <div class="col-11 col-xs-10 col-sm-10 col-md-10 mx-auto">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Оповещать меня
                    </label>
                </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-between col-11 mx-auto col-sm-10">
                    <button class="btn btn-danger col-sm-5" type="button">Сохранить</button>
                    <button onClick="history.back()" class="btn btn-success col-sm-5" type="button">Назад</button>
                </div>
            </form>
        </div>
        <div class="collapse fixed-bottom mx-auto bottom-menu-block" id="navbarToggleExternalContent">
            <div class="pt-3 pb-3 d-flex align-items-center bottom-menu-block-child">
                <a class="nav-link" href="../chat/index.html"><h5>Чат заявок</h5></a>
                <a class="nav-link" href="../application/index.html"><h5>Заявки</h5></a>
                <a class="nav-link" href="../repair/index.html"><h5>Ремонт</h5></a>
                <a class="nav-link" href="../act/index.html"><h5>Акты</h5></a>
                <a class="nav-link" href="../admin/index.html"><h5>Админ панель</h5></a>
            </div>
        </div>
    </div>
</main>
<footer>
    <nav class="navbar fixed-bottom justify-content-around">
        <a href="../index.blade.php" class="btn">
            <img src="../icons/home.svg" alt="Profile icon" width="30" height="30">
        </a>
        <button class="navbar-toggler btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button onClick="history.back()" class="btn">
            <img src="../icons/back.svg" alt="Profile icon" width="30" height="30">
        </button>
    </nav>
</footer>
<script defer src="../bootstrap/js/bootstrap.bundle.min.js"></script>
<script defer src="../js/jquery.min.js"></script>
</body>
</html>
